In [9]:
odds = [1, 3, 5, 7, 9, 11]
print('Odds are:', odds)

Odds are: [1, 3, 5, 7, 9, 11]

In [3]:
print("First element in the list is", odds[0])

First element in the list is 1

In [4]:
print("Last element in the list is", odds[-1])

Last element in the list is 7

In [10]:
print("Every second element in the list is", odds[0::2])

Every second element in the list is [1, 5, 9]

In [12]:
names = ["Curie", "Darwing", "Turing"]
print("Name is originally", names)
names[1] = "Darwin"
print("Final values of names", names)

Name is originally ['Curie', 'Darwing', 'Turing']
Final values of names ['Curie', 'Darwin', 'Turing']

In [13]:
name = "Darwin"
print("First character in the name", name[0])

First character in the name D

In [14]:
name[0] = 'd'
print(name)

TypeError: 'str' object does not support item assignment

In [15]:
x = [
    ["pepper", "courgette", "onion"],
    ["cabbage", "lettuce", "garlic"],
    ["apple", "pear", "banana"],
]

In [16]:
print(x[0])

['pepper', 'courgette', 'onion']

In [22]:
print(x[0][0])

pepper

In [23]:
sample_ages = [10, 12.5, "Unknown"]

In [24]:
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [25]:
odds.append(13)
print(odds)

[1, 3, 5, 7, 9, 11, 13]

In [26]:
removed_element = odds.pop(0)
print("Odds after pop", odds)

Odds after pop [3, 5, 7, 9, 11, 13]

In [29]:
odds.reverse()

In [30]:
print(odds)

[3, 5, 7, 9, 11, 13]

In [31]:
print(odds.reverse())

None

In [34]:
new_odds = odds.reverse()

In [36]:
print(new_odds)

None

In [41]:
string_for_slicing = "Observation data: 02-Feb-2013"
print(string_for_slicing[-1])

3

In [48]:
string_for_slicing = "Observation data: 02-Feb-2013"
print(string_for_slicing[1:4])

bse

In [49]:
string_for_slicing = "Observation data: 02-Feb-2013"
print(string_for_slicing[-4:])

2013

In [50]:
beatles = "In an octopus's garden in the shade"
print(beatles[0::2])

I notpssgre ntesae

In [51]:
counts = [2, 4, 6, 8, 10]
print(counts * 2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

SyntaxError: invalid syntax (196431726.py, line 1)